/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Ubuntu:ital,wght@0,500;1,400;1,500&display=swap');

/* these are some common styles */

nav,
.navbar {
  position: sticky !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 999 !important;
  backdrop-filter: blur(5px);
  background: #1ca6f064;
  font-family: 'Ubuntu', sans-serif;
}
.navbar-nav a{
  font-size: 1.5rem;
}
.navbar-nav a:hover{
  color: white !important;
  border-bottom: solid 2px white;
}
.active{
  color: red !important;
  border-bottom: solid 2px red;
}
h1,h2,h3,h4{
  font-family: 'Bitter', serif;
}
p{
  font-family: 'Ubuntu', sans-serif;
}
.show a{
  border: none;
}
.show a:hover{
  border: none;
}
/* it is for home page and hero section */

.hero {
    min-height: 90vh;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: url("images/landing.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero h1 {
    font-size: 4rem;
    text-shadow: #1ca6f064 5px 5px;
  }
  .hero h3 {
    margin: 20px 40px;
  }

  .ama-announcement h1 , .ama-recap h1{
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 700;
  }
  .ama-announcement h1 a, .ama-recap h1 a{
    text-decoration: none;
    color:unset;
  }
  .ama-announcement img{
    border-radius: 30px;
  }
  .ama-recap img{
    border-radius: 15px;
  }
  #about {
    border: solid 3px rgb(148, 148, 148);
    border-radius: 10px;
    box-shadow: 5px 5px 16px 5px rgb(148, 148, 148);
  }
 
  .partener-logo {
    width: 100%;
     height:100%;
     margin: 0 auto;
  }
  .partner-div{
    background-color: #1ca6f0;
  }
  
  /* these are for contact us section */
.blue-body {
    width: 100%;
    height: 100vh;
    background: url("images/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-clip: content-box;
  }
  
.social h4{
  font-size: 3rem;
}
.social h4 a{
  text-decoration: none;
  color: unset;
}

  /* this is for AMA series part */
  .ama{
     background-color:#f3f3fa;
    /* padding: 30px 0;  */
  }
  .ama-heading{
    font-size: 3rem;
  }
  .ama-wrapper{
    border-radius: 10px;
    background-color: white;
    box-shadow: 14px 14px 32px 10px rgba(31, 33, 34,0.4);
  }
  .ama-wrapper:hover{
    box-shadow: 14px 14px 32px 10px rgba(0, 170, 255);
  }
  