/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Ubuntu:ital,wght@0,500;1,400;1,500&display=swap');

/* these are some common styles */
html,body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
nav,
.navbar {
  backdrop-filter: blur(5px);
  background: #1ca6f064;
  font-family: 'Ubuntu', sans-serif;
}
.navbar-nav a{
  font-size: 1.5rem;
}
.navbar-nav a:hover{
  color: white !important;
  border-bottom: solid 2px white;
}
.active{
  color: red !important;
  border-bottom: solid 2px red;
}
h1,h2,h3,h4{
  font-family: 'Bitter', serif;
}
p{
  font-family: 'Ubuntu', sans-serif;
}
.show a{
  border: none;
}
.show a:hover{
  border: none;
}
/* it is for home page and hero section */

.hero {
    min-height: 90vh;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: url("images/landing.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero h1 {
    font-size: 4rem;
    text-shadow: #1ca6f064 5px 5px;
  }
  .hero h3 {
    margin: 20px 40px;
  }

  .ama-announcement h1 , .ama-recap h1{
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .ama-announcement h1 a, .ama-recap h1 a{
    text-decoration: none;
    color:unset;
  }
  .ama-announcement img{
    border-radius: 30px;
  }
  .ama-recap img{
    border-radius: 15px;
  }

  .partener-logo {
    width: 100%;
     height:100%;
     margin: 0 auto;
  }
  .partner-div{
    background-color: #1ca6f0;
  }
  
  /* these are for contact us section */
.blue-body {
    width: 100%;
    height: 100vh;
    background: url("images/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-clip: content-box;
  }
  
.social h4{
  font-size: 3rem;
}
.social h4 a{
  text-decoration: none;
  color: unset;
}

  /* this is for AMA series part */
  .ama img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

  }
  .ama-wrapper{
    border: solid 2px #1ca6f0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .ama-wrapper a{
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
  }

  /* --------single AMA---------------------- */
  .recent-posts a{
    text-decoration: none;
  }